.filter-section {
  width: 100%;
  margin-bottom: 4%;
}

.toggle-button-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.toggle-button {
  padding-left: 8px;
  padding-right: 8px;
}

.toggle-button-value {
  padding-left: 8px;
  padding-right: 8px;
}