.item-with-border {
  border: 0.5px solid grey;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
}

.train-icon {
  display: flex;
  margin-top: 12px;
}

.icon {
  font-size: small !important;
  color: grey;
}

@media only screen and (min-width: 700px) {
  .icon {
    font-size: small !important;
    color: grey;
    margin-left: 2;
  }
}
