.item-with-border {
  border: 0.5px solid #ECEBEB;;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
}

.parent-item {
  gap: 2.5px !important;
}

.train-icon {
  display: flex;
  margin-top: 12px;
}

.cardStyle {
  box-shadow: none !important;
}

.icon {
  font-size: small !important;
  color: grey;
}

.vehicle {
  padding-right: 20px;
  background-color: aqua;
}

@media only screen and (min-width: 700px) {
  .icon {
    font-size: small !important;
    color: grey;
    margin-left: 2;
  }
}
