.item-with-border {
  border-radius: 0.75em;
  border: 1px solid grey;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media only screen and (max-width: 700px) {
  .provider-name {
    padding-left: 1.7em;
  }
}