.item-with-border {
    border-radius: 0.75em;
    border: 1px solid grey;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  #item {
    direction:rtl;
}

.payment-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 65vw;
}


.payment-mode-name {
  padding-left: 35px;
  font-size: large;
  font-weight: 500;
}
