.item-with-border {
    border-radius: 0.75em;
    border: 1px solid grey;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  #item {
    direction:rtl;
    width: 100%;
    justify-content: end;
  }

.css-1x2q1ov-MuiGrid-root {
  padding: 0 !important;
}
.payment-label {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
}

.payment-mode-name {
  padding-left: 35px;
  font-size: large;
  font-weight: 500;
}
