.quote-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.75em;
    border: 1px solid grey;
    margin-bottom: 0.5em;
  }
 
@media only screen and (min-width: 700px) {
    .quote-fare-breakup {
        padding: 0 20%;
  }
}