.show-station-icon {
    padding-top: 13%;
}

.show-station-details {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    color: #00000099; 
}

.css-8t49rw-MuiStepConnector-line {
    margin-left: 2.3em !important;
    min-height: 0.5em !important;
}

.stops-icon {
    width: 15px !important;
}

.start-end-station {
    padding-left: 2.425em;
}