.show-station-icon {
    padding-top: 13%;
}

.show-station-details {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.6);
}

.css-8t49rw-MuiStepConnector-line {
    margin-left: 37px !important;
    min-height: 8px !important;
}

.css-1db085k-MuiSvgIcon-root {
    width: 15px !important;
}

.start-end-station {
    padding-left: 42px;
}